.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
  background-color: var(--color-lighter);
  border-radius: var(--border-radius);

  svg {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);

    * {
      stroke: var(--color-primary-md);
    }
  }

  input {
    flex-grow: 10;
    font-size: var(--font-size-md);
    height: var(--icon-size-sm);
    color: var(--color-dark);
    padding: 0;
    border: none;
    outline: none;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
