.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: var(--border-thickness-sm) solid var(--color-light);
  border-radius: var(--border-radius);
  background-color: var(--color-lighter);
  overflow: hidden;

  .grip {
    display: flex;
    flex-direction: column;
    cursor: grab;

    svg {
      width: var(--icon-size-sm);
      height: auto;

      * {
        fill: var(--color-primary-md);
        transition: var(--transition-sm);
      }
    }

    &:hover {
      cursor: grabbing;

      svg {
        * {
          fill: var(--color-secondary-md);
        }
      }
    }
  }
}
