.container {
  display: grid;
  grid-template-rows:
    [start start-header] auto [end-header start-navigation] auto [end-navigation start-aside] minmax(
      auto,
      30lvh
    )
    [end-aside start-main] 1fr [end-main start-overview] auto [end-overview start-footer] minmax(
      4rem,
      auto
    )
    [end-footer end];
  grid-template-columns: [start start-header start-navigation start-aside start-main start-footer start-overview] 1fr [end end-header end-navigation end-aside end-main end-overview end-footer];
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media only screen and (min-width: $breakpoint-lg) {
    grid-template-rows: [start start-header start-main] auto [end-header start-navigation start-aside] 1fr [end-navigation end-aside end-main start-footer start-overview] auto [end-footer end-overview end];
    grid-template-columns: [start start-header start-navigation start-footer] auto [end-navigation start-aside] 20rem [end-header end-aside end-footer start-main start-overview] 1fr [end-main end-overview end];
  }
}
