.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--spacing-sm);

  svg {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);

    * {
      stroke: var(--color-primary-md);
    }
  }
}
