.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--color-lighter);

  @media only screen and (min-width: $breakpoint-lg) {
    border: none;
    border-left: var(--border-thickness-md) solid var(--color-primary-md);
  }
}
