.container {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;

  :global(.konvajs-content) {
    border: var(--border-thickness-sm) solid var(--color-grey-md);
  }
}
